.container-fluid{
    width:100%;
    padding: 0px;
    margin-right: 0px;
}

.navbar {
    padding: 1em;
    width: 100%;
}

.navbar-brand{
    
    font-style: italic;
    font-weight:bold;
    font-size: xx-large;
    color: black;
    float: left;
    width: 35%;
}
.navbar-toggler-item{
    float: right;
    width: 30%;
}
.nav-item{
    text-align: center;
    padding-left:  2em ;
    padding-right: 2em ;
    font-size: larger;
} .nav-link{
    color: black !important;
}

.dropdown-menu{
    border: none;
    text-align: center;
}

.carousel-item > img{
    height: 500px;
    width: 100%;
}

.container{
    text-align: justify;
    margin-top: 2em;
}
section{
    margin:8px;
    padding: 1em;
}
.card{
    margin-bottom: 2em;
}
.card > img{
    height:350px ;
}
h4{
    text-align: center;
    background-color: black;
    color: white;
}
.contact-section{
    background-color: black;
    color: white;

}
.contact{
    margin: 0px;
    padding:1rem 2rem ;
    text-align: center;
}



footer{
    background-color: black;
    color: white;
    text-align: center;
   padding: 2rem;
    margin-right: 0px;
}

