.navbar {
    padding: 1em;
    width: 100%;
}

.navbar-brand{
    padding-left: 1em;
    font-style: italic;
    font-weight:bold;
    font-size: xx-large;
    color: deeppink !important;
    float: left;
    width: 45%;
}
.navbar-toggler-item{
    float: right;
    width: 45%;
}
.nav-item{
    text-align: center;
    padding-left:  2em !important;
    padding-right: 2em !important;
    font-size: larger;
}  

.dropdown-menu{
    border: none;
    text-align: center;
}
hr{
      background-color: aqua;
      height:  2px ;
}
.carousel-item > img{
    height: 500px;
}
.container{
    text-align: justify;
    margin-top: 2em;
}
.full{
    padding: 50px;
}
.half{
    margin:10px;
}
section{
    margin:8px;
    padding: 1em;
}
.card{
    margin-bottom: 2em;
}
.card > img{
    height:350px ;
}
.btn:hover{
    background-color: orangered;
    color:white;
    border:none;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    height: 50px;
    padding-top: 1em;
}