.container-fluid{
    width:100%;
    padding: 0px;
    margin-right: 0px;
}

.navbar {
    padding: 1em;
    width: 100%;
}

.navbar-brand{
    padding-left: 1em;
    font-style: italic;
    font-weight:bold;
    font-size: xx-large;
    color: deeppink !important;
    float: left;
    width: 45%;
}
.navbar-toggler-item{
    float: right;
    width: 45%;
}
.nav-item{
    text-align: center;
    padding-left:  2em !important;
    padding-right: 2em !important;
    font-size: larger;
}  

.dropdown-menu{
    border: none;
    text-align: center;
}

.carousel-item > img{
    height: 500px;
    width: 100%;
}

.container{
    text-align: justify;
    margin-top: 2em;
}
section{
    margin:8px;
    padding: 1em;
}
.card{
    margin-bottom: 2em;
}
.card > img{
    height:350px ;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
   padding: 2rem;
    margin-right: 0px;
}

